{{#partial "contents"}}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Notice</h1>
    <p class="lead">This is Notice Board</p>
</div>

<div class="container">
    <center><a class="btn btn-primary btn-lg" href="/notices/form" role="button">Create</a></center>
    <hr>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Writer</th>
        </tr>
        </thead>
        <tbody>
        {{# notices }}
        <tr>
            <th scope="row">{{ id }}</th>
            <td><a href="/notices/{{ id }}">{{ title }}</a></td>
            <td>{{ writer.userName }}</td>
        </tr>
        {{/ notices}}
        </tbody>
    </table>

    <div class="mx-auto" style="width: 200px;">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</div>
{{/partial}}

{{> base }}